#wrapper {
	margin: 20px;
	background-color: indigo;
}

    
#content { 
	text-align: center;
    color: black;
}

#header{
	color: green;
	background-color: pink;
}

#middler {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: orange;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.panel {
	display: inline-block;
	border-style: solid;
	width: 49%;

}

#quadrant_one {
	background-color: black;
	border-color: black;
	color: white;
}

#quadrant_two {
	background-color: green;
	border-color: green;
}

#quadrant_three {
	background-color:steelblue;
}

#quadrant_four {
	background-color: mediumpurple;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.panel_image {
	display: inline;
	float: left;
}

.blurb {
	text-align: justify;
}

.fullbody {
	font-family: "Ovo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
	background-color: indigo;
}